**/*.log
*.ready
*.swp
*ctags*
*loa.step*
.*_tmp_egg
.env
.htaccess
.vstags
/.vscode/
/.well-known/
/esp32/
/node_modules/
/sheets/
/vendor/
=
composer.phar
esp.php
esp32.html
gamelog.txt
phpctags.*
phpctags.ctags
phpctags.tags
**/config.ini
phpunit.xml
/tests/
.phpunit.result.cache
/tbl_explore