**/*.log
*.ready
*.swp
*ctags*
*loa.step*
.*_tmp_egg
.env
.htaccess
.vstags
/.vscode/
/.well-known/
/esp32/
/node_modules/
/sheets/
/vendor/
=
composer.phar
esp.php
esp32.html
gamelog.txt
phpctags.*
phpctags.ctags
phpctags.tags
**/config.ini
phpunit.xml
/tests/
.phpunit.result.cache
/tbl_explore
**/Tests/**
**/test**
.blackboxrules
admin/25654/widgets/recentorders.html
admin/25654/widgets/recentlyadded.html
admin/25654/widgets/recap.html
admin/25654/widgets/info-box.php
admin/25654/.htaccess
admin/25654/widgets/small-box.php
admin/25654/layout/
admin/25654/system/*
!admin/25654/system/functions.php

admin/25654/css/setup.css
pages/game-screen.php
