SQL_HOST="127.0.2.1"
SQL_USER="user_loa"
SQL_PASS=":4ysiz5`MQ7:Ve^"
SQL_DB="db_loa"
SQL_PORT="3306"

SQL_ACCT_TBL="tbl_accounts"
SQL_FRND_TBL="tbl_friends""
SQL_CHAR_TBL="tbl_characters"
SQL_MAIL_TBL="tbl_mail"
SQL_FMLR_TBL="tbl_familiars"

OPENAI_APIKEY=""
