SQL_HOST='###REPL_SQL_HOST###'
SQL_USER='###REPL_SQL_USER###'
SQL_PASS='###REPL_SQL_PASS###'
SQL_DB='###REPL_SQL_DB###'
SQL_PORT='###REPL_SQL_PORT###'

SQL_ACCT_TBL='###REPL_SQL_TBL_ACCOUNTS###'
SQL_FRND_TBL='###REPL_SQL_TBL_FRIENDS###'
SQL_CHAR_TBL='###REPL_SQL_TBL_CHARACTERS###'
SQL_MAIL_TBL='###REPL_SQL_TBL_MAIL###'
SQL_FMLR_TBL='###REPL_SQL_TBL_FAMILIARS###'
SQL_MNST_TBL='###REPL_SQL_TBL_MONSTERS###'
SQL_GLBL_TBL='###REPL_SQL_TBL_GLOBALS###'
SQL_LOGS_TBL='###REPL_SQL_TBL_LOGS###'
SQL_BANS_TBL='###REPL_SQL_TBL_BANNED###'

OPENAI_APIKEY='###REPL_OPENAI_APIKEY###'