SQL_HOST="###SQLHOST###"
SQL_USER="###SQLUSER###"
SQL_PASS="###SQLPASS###"
SQL_DB="###SQLDB###"
SQL_PORT="###SQLPORT###"

SQL_ACCT_TBL="tbl_accounts"
SQL_FRND_TBL="tbl_friends"
SQL_CHAR_TBL="tbl_characters"
SQL_MAIL_TBL="tbl_mail"
SQL_FMLR_TBL="tbl_familiars"

OPENAI_APIKEY=""
